body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
div #imprimable {
    color:aqua
}
header {
    background-color: #bfbfbf;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
}
header img {
    max-height: 50px;
    vertical-align: middle;
}
header h1 {
    display: inline;
    margin-left: 20px;
}
main {
    flex: 1;
    padding: 20px;
}
footer {
    background-color: #bfbfbf;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ddd;
    position: relative;
    bottom: 0;
    width: 100%;
}
